/* header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
} */
header nav,
footer nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
}
@media (min-width: 1000px) {
  .mine-projekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .mine-projekter img {
    width: 100%;
    aspect-ratio: 16 / 9; /* keeps uniform ratio */
    object-fit: cover; /* crops to fill without stretching */
    display: block;
  }
  #mobilesite-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #mobilesite-grid img {
    width: 100%;
    aspect-ratio: 16 / 9; /* keeps uniform ratio */
    object-fit: cover; /* crops to fill without stretching */
    display: block;
  }
}
