header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
}
header nav,
footer nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
}
